/*---------FONTE---------*/
@import url();

/*--------VARIÁVEIS GLOBAIS---------------*/
:root {
    --cor-pprimaria: #;
    --cor-primaria-escura: #;
    --cor-bg: #f5f7fa
    --cor-
    --cor-
}